<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <!--Connection strings-->
  <connectionStrings>
    <add name="TestConnection"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(local)\SQL2014;Initial Catalog=Tracker;User ID=sa;Password=Password12!;"/>
  </connectionStrings>
  
</configuration>